@import "custom";
@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";

body {
	padding-top: 5rem;
	// font-family: $font-family-serif;
}

.intro-text {
	text-align: justify;
}

img {
	max-width: 100%;
}

.project img {
	width: 80%;
}
