{% extends "base.html" %}

{% block custom_head_tags %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" type="text/css" media="screen" charset="utf-8">
<style type="text/css" media="screen">
	#extendedBibTable {
		font-size: .7rem;
	}
</style>
{% endblock custom_head_tags %}

{% block main_content %}	
{# <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"> #}
	{# <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a> #}
	{# <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> #}
	{# <ul class="navbar-nav px-3"> #}
		{# <li class="nav-item text-nowrap"> #}
			{# 	<a class="nav-link" href="#">Sign out</a> #}
			{# </li> #}
		{# </ul> #}
	{# </nav> #}

			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle mr-md-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Download Data
				</button>
				<div class="dropdown-menu">
					{% for fname in download_fnames %}
					<a class="dropdown-item" href="{{ fname['fname'] }}">{{ fname['desc'] }}</a>
					{% endfor %}
				</div>
				
			</div>
		<p>
			{{ this_project.get('description')|safe }}
		</p>
		<table id="extendedBibTable"></table>

		<div class="vis-methods mt-5">
		<h3>About</h3>
			{{ this_project['methods']|safe }}
		</div>


{% endblock main_content %}

{% block endbody_tags %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@4.6.3/papaparse.min.js" integrity="sha256-1KCNEBmmUm8Oo4IOlg7ZnbFjBZXxCa9bILP7eGDqYOY=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
	var data_fname = "{{ data_fname }}"
var columnsToShow = [
	'rank',
	// 'Paper_ID',
	// 'issn',
	// 'isbn',
	// 'doi',
	'pub_date',
	'title',
	'title_source',
	// 'title_source_abbrev',
	'subject_traditional',
	// 'heading',
	// 'subheading',
	// 'pub_type',
	// 'keyword',
];

var columnsRename = {
	"title_source": "journal",
	"subject_traditional": "subject",
}

var data = Papa.parse(data_fname, {
	download: true,
	delimiter: "\t",
	header: true,
	skipEmptyLines: true,
	complete: function(results) {
		console.log(results);
		var columnConf = [],
			fields = results.meta.fields;
		for (var i = 0, len = fields.length; i < len; i++) {
			if (columnsToShow.includes(fields[i])) {
				var thisColumnVisible = true;
			} else {
				var thisColumnVisible = false;
			}

			// rename some columns
			if (columnsRename.hasOwnProperty(fields[i])) {
				var thisColumnTitle = columnsRename[fields[i]];
			} else {
				var thisColumnTitle = fields[i];
			}

			columnConf.push({ title: thisColumnTitle, data: fields[i], visible: thisColumnVisible });
		}
		var $dataTable = $('#extendedBibTable').DataTable( {
			data: results.data,
			pageLength: 25,
			columns: columnConf
		} );
	}
});
</script>
{% endblock endbody_tags %}
