{% extends "main/nautilus.html" %}

{% block vis_description %}
{{ super() }}
<hr>
<p style="visibility: visible;">
	Currently in <strong>demo mode</strong>. <a href="{{ url_for('main.index') }}">Click here to go to the home page.</a>
</p>
	
{% endblock vis_description %}

{% block endbody_tags %}
{{ super() }}

<script type="text/javascript" charset="utf-8">
$('.sidebar').remove();	
$('#aboutLink').remove();

$(document).on('initComplete', function() {
	// Loop forward and backward indefinitely.
	// Check every 4 seconds
	setInterval(function() {
		if (citationVis.egoGraphVis.currYear >= 2017) {
			// rewind
			citationVis.egoGraphVis.newDestinationNode(1999);
		}
		if (citationVis.egoGraphVis.currYear <= 1999) {
			// go forward
			citationVis.egoGraphVis.newDestinationNode(2017);
		}
	}, 4000);
});
</script>
{% endblock endbody_tags %}
