<h1>Frequently Asked Questions</h1>

<div class="faq item">
	<p class="faq question">
	What can this show me that other services can't?
	</p>
	<p class="faq answer">
	Let's take Google Scholar for example. An author's Google Scholar profile includes information about that author's publications, measures and displays of number of citations over time, and a couple of basic citation metrics including h-index. An author's scholar.eigenfactor.org profile goes beyond this by taking into account not just the number of citations a scholar has received, but where these citations are coming from. Exploring these incoming citations through our visualization and analysis tools can give a more detailed picture of the extent and quality of the influence a scholar has had.
	</p>
</div>

<div class="faq item">
	<p class="faq question">
	I'm seeing papers in my visualization from [Medicine, Sociology, Psychoceramics...]. What's going on here? These are not my papers!
	</p>
	<p class="faq answer">
	If you are the author at the center of the visualization, the papers that appear around you are important papers that have <em>cited</em> your work, not necessarily papers that you have authored. This is how the visualization shows what sort of influence the center collection may have had&mdash;by highlighting papers published since that have found value in one or more of the center papers.
	</p>
</div>

<div class="faq item">
	<p class="faq question">
	Do I really need to register an account?
	</p>
	<p class="faq answer">
	Having an account where you can manage your own paper collections is the best way to create meaningful collections and visualizations. We will, of course, never spam you or share your email.
	</p>
</div>

<div class="faq item">
	<p class="faq question">
	I have a question/suggestion/idea! How can I get in touch with you?
	</p>
	<p class="faq answer">
	We'd love to hear your feedback. Please direct it to <a href="mailto:jporteno@uw.edu?subject=scholar.eigenfactor.org: ">jporteno@uw.edu</a>.
	</p>
</div>
