{% extends "base.html" %}

{% block custom_head_tags %}
{% endblock custom_head_tags %}


{% block main_content %}
	

		<div id="mainVis">
			{% block mainVisDiv_content %}
			{% endblock mainVisDiv_content %}
		</div>

		<div class="vis-description mt-5">
			{% block vis_description %}
			{% if this_project.get('description') %}

			<h5>About the {{ this_project['name'] }}</h5>
			<p>
				{{ this_project['description']|safe }}
			</p>
			{% endif %}

			{% endblock vis_description %}
		</div>

		<div class="vis-methods mt-5">
			{% block vis_methods %}
			{% if this_project.get('methods') %}
					{% call collapsible(extra_classes='') %}
					{{ this_project['methods']|safe }}
					{% endcall %}
				
			{% endif %}
				
			{% endblock vis_methods %}
		</div>
		


{% endblock main_content %}

