{% extends "base.html" %}

{% block custom_head_tags %}
{% endblock custom_head_tags %}


{% block main_content %}
	

		<div id="mainVis">
			{% block mainVisDiv_content %}
			{% endblock mainVisDiv_content %}
		</div>

		<div class="vis-description mt-5">
			{% block vis_description %}
			{% if this_project.get('description') %}

			<h5>About the {{ this_project['name'] }}</h5>
			{{ this_project['description']|safe }}
			{% endif %}

			{% endblock vis_description %}
		</div>

		<div class="vis-methods mt-5">
			{% block vis_methods %}
			{% if this_project.get('methods') %}
			<h3>Data and Methods</h3>
			{{ this_project['methods']|safe }}
			{% endif %}

			{% endblock vis_methods %}
		</div>
		


{% endblock main_content %}

