{% from '_macros.html' import collapsible %}
<!DOCTYPE html>
<html>
	<head>
		{% include "_head.html" %}
		<style type="text/css" media="screen">
			body {
				font-family: Arial !important;
			}

			h3 {
				font-size: 1.5rem !important;
			}
		</style>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}" type="text/css" media="screen" charset="utf-8">
		{% block custom_head_tags %}{% endblock %}
	</head>
	<body>
		{% block content %}
<div class="container-fluid">
	<div class="row">
		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					<li class="nav-item">
						{% if this_project['name'] == 'Home' %}
						<a class="nav-link active" href="{{ url_for('main.index') }}">
							<span data-feather="home"></span>
							Home <span class="sr-only">(current)</span>
						</a>
						{% else %}
						<a class="nav-link" href="{{ url_for('main.index') }}">
							<span data-feather="home"></span>
							Home
						</a>
						{% endif %}
					</li>
					{% for project in projects %}

					{% if this_project['name'] == project['name'] %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ project['url'] }}">
							{{ project['name'] }} <span class="sr-only">(current)</span>
						</a>
					</li>

					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ project['url'] }}">
							{{ project['name'] }}
						</a>
					</li>

					{% endif %}
					{% endfor %}
			</div>
		</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">{% block title %}{{ this_project['name'] }}{% endblock %}</h1>
		</div>

		{% block main_content %}
			
		{% endblock main_content %}


		{% block footer %}
			<br>
			<hr>
			<h3>Contact</h3>
			<p>
				Please <a href="mailto:jevinw+misinformationresearch@uw.edu?subject=[misinformationresearch.org]">contact us</a> if you have any questions or comments about the tools, data or other content.
			</p>
		{% block footer_endcontent %}{% endblock %}

		{% endblock footer %}
		</main>
	</div>
</div>
		{% endblock content %}
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha256-ZvOgfh+ptkpoa2Y4HkRY28ir89u/+VRyDE7sB7hEEcI=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='app.bundle.js') }}"></script>
		{% block endbody_tags %}
		{% endblock endbody_tags %}
	</body>
</html>
